@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
:root {
    --main-bg-color: #000000;
  }

*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url('https://e0.pxfuel.com/wallpapers/358/40/desktop-wallpaper-dark-background-dark-gaming.jpg');
    background-size: 200%;


}
header{
    background: var(--main-bg-color); 
    font-family: 'Lato', sans-serif;
}

nav{
    display: flex;
}
.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 96px;
padding: 0 25px 3px 20px;
height: 63px;
}
nav ul{
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul li{
    list-style: none; 
    padding: 0 23px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-family: system-ui;
}

nav ul li a:hover{ 
    font-weight: bolder;
    border: 2px solid rgb(197, 8, 244);
}

.search{
    display: flex;
    align-items: center;
}

.search input{
    width: 30vw;
    height: 27px;
    border-radius: 5px;
    margin: 0 16px 0 56px;
    padding:0 12px;
}
.searchhere:hover{
        background-color: #dfe1e4;
        border: 2px solid rgb(197, 8, 244);
}
.search button{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

.slider{ 
    width: 50vw;
    margin: 14px auto;
    overflow: hidden;
}

.card{
    max-width: 91vw;
    margin: 37px auto;
    font-family: 'Ubuntu', sans-serif;
    background-color: rgba(127, 122, 122, 0.122);
    color: white;
    border: 1px solid black;
}

.cards{
    padding-bottom: 15px;
    display: flex; 
    overflow: hidden;
    cursor: pointer;
}

.card-item{

    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 16px 0 14px;
    background-color: rgb(255, 0, 0);
    border: 2px solid black;
}

.card h2{
    font-family: system-ui;
}

.container{
    min-height: calc(100vh - 58px - 12vh);
}

footer{
    height: 12vh;
    background-color: var(--main-bg-color); 
    color: white;
    font-family: system-ui;
}