.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    padding: 5px 10px;
    color: white;
    background: var(--main-bg-color);
    border: 1px solid white;
    border-radius: 7px;
    cursor: pointer; 

}
.btn:hover{
    background-color: #dfe1e44d;
    border: 2px solid rgb(197, 8, 244);
}
.my-1{
    margin: 5px 0;
}

.my-2{
    margin: 26px 20px;
}

.text-center{
    text-align: center;
}
.text-center:hover{
    background-color: rgba(10, 249, 14, 0.585);
    font-weight: 900;
}
.text-center a{
    text-decoration: none;
    color: black;
}